body {
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
    line-height: 1.6;
    color: #292929;
    background-color: #fff;
    text-align: center;
}

/* Header */

.header {
    width: 100%;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;

        .header_inner_logo {
            margin: 0 auto;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            margin-top: 20px;
        }
}

/* Name */

.name {
    display: flex;
    justify-content: row;
    align-items: center;

    .name_left {
        width: 150%;
        color: #c5c5c5;
    }

    .name_word {
        background-color: #fff;
        color: #c5c5c5;
        font-size: 21px;
        padding: 20px;
        width: 5%;
    }

    .name_right {
        width: 150%;
        color: #c5c5c5;
    }

}

/* Nav */

.nav {
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 5px;

    .nav_link {
        margin: 0 30px;
        position: relative;   
        vertical-align: top;
        color: #777777;
        text-decoration: none;
        transition: color 0.1s linear;
    }
    .nav_use{
        color: #000000;
    }
    .nav_link:hover {
        color: #000000;
    }

    .nav_link:hover:after {
        opacity: 1;
        display: block;
    }
}

.nav_mobile {
    display: none;
}


.menu.btn {
    display: block;
    max-width: 30px;
}
/* Gallery */

.gallery {
    display: flex;
    flex-direction: row;
    padding: 0 30px 0px 30px;
    margin: 10px 0 10px 0;

        .gallery_column {
            display: flex;
            flex-direction: column;

                .gallery_column_img {
                    max-width: 100%;
                    margin: 4px;
                }
        }    
}

/* Social */

.social {
    margin: 0 0 35px 0px;
        .social_links {

            .social_links_link {
                height: 60px;
                width: 60px;
                margin: 10px;
            }

            .social_links_link:hover {
                transition: 1s;
            }
        
            .fab {
                color: #292929;
                font-size: 32px;
                margin-top: 10px;
                margin-bottom: 15px;
            }
        
            .fab:hover  {
                color: #ababab;
                transition: .3s;
                transform: scale(1.1);
            }
       }   

}

/* Hr */

hr {
    margin-top: 25px;
    max-width: 100%;
    margin-bottom: 25px;
    border: none;
    color: #c5c5c5;
    background-color: #c5c5c5;
    height: 1px;
}

.name_center {
    width: 150%;
    color: #c5c5c5;
}
 
/* Ads */

.ads_name {
    font-size: 20px;
    margin-bottom: -10px;
}


@media (max-width:1059px){
    .nav {
        font-size: 19px;

        .nav_link {
            margin: 0 25px;
           
        }
    }

    .name {
        .name_word {
            font-size: 19px;
        }
    }

}

@media (max-width:1025px){
    .nav {
        font-size: 18px;

        .nav_link {
            margin: 0 22px;
           
        }
    }

    .name {
        .name_word {
            font-size: 18px;
        }
    }

}

@media (max-width:769px){
    .nav {
        display: none;
    }

    .nav_mobile {
        display: flex;
        width: 40px;
    }

    .name {
        .name_word {
            font-size: 18px;
        }
    }

}