body {
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
  line-height: 1.6;
  color: #292929;
  background-color: #fff;
  text-align: center;
}

/* Header */
.header {
  width: 100%;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-decoration: none;
}

.header .header_inner_logo {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Name */
.name {
  display: flex;
  justify-content: row;
  align-items: center;
}

.name .name_left {
  width: 150%;
  color: #c5c5c5;
}

.name .name_word {
  background-color: #fff;
  color: #c5c5c5;
  font-size: 21px;
  padding: 4px;
  width: 5%;
}

.name .name_right {
  width: 150%;
  color: #c5c5c5;
}

/* Nav */
.nav {
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.nav .nav_link {
  margin: 0 30px;
  position: relative;
  vertical-align: top;
  color: #777777;
  text-decoration: none;
  transition: color 0.1s linear;
}

.nav .nav_use {
  color: #000000;
}

.nav .nav_link:hover {
  color: #000000;
}

.nav .nav_link:hover:after {
  opacity: 1;
  display: block;
}

/* Gallery */
.gallery {
  display: flex;
  flex-direction: row;
  padding: 0 30px 0px 30px;
  margin: 10px 0 10px 0;
}

.gallery .gallery_column {
  display: flex;
  flex-direction: column;
}

.gallery .gallery_column .gallery_column_img {
  max-width: 100%;
  margin: 4px;
}

/* Social */
.social {
  margin: 0 0 35px 0px;
}

.social .social_links .social_links_link {
  height: 60px;
  width: 60px;
  margin: 10px;
}

.social .social_links .social_links_link:hover {
  transition: 1s;
}

.social .social_links .fab {
  color: #292929;
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.social .social_links .fab:hover {
  color: #ababab;
  transition: .3s;
  transform: scale(1.1);
}

/* Hr */
hr {
  margin-top: 25px;
  max-width: 100%;
  margin-bottom: 25px;
}

.bottom {
  color: #c5c5c5;
}

/* Ads */
.ads_name {
  font-size: 20px;
  margin-bottom: -10px;
}

@media (max-width: 1059px) {
  .nav {
    font-size: 20px;
  }
}
